---
import Layout from "src/components/layout.astro";
import Header from "src/components/header.astro";
import EditableMd from "src/components/editable-md.astro";
import EditableText from "src/components/editable-text.astro";

export const getStaticPaths = async () => {
  let portfolios = [];
  try {
    portfolios = await Astro.glob("../../../../data/portfolio/*.md");
  } catch {}
  return portfolios.map((portfolio) => {
    return {
      params: { slug: portfolio.frontmatter.slug },
      props: {
        portfolio: {
          ...portfolio.frontmatter,
          uid: portfolio.file.split("/").at(-1).slice(0, -3),
          markdown: portfolio.rawContent(),
        },
      },
    };
  });
};

const { portfolio } = Astro.props;
---

<Layout pageTitle={`${portfolio.title} · tom`}>
  <Header actualPath={`portfolio/${portfolio.slug}/edit`} />

  <EditableText name={portfolio.uid} type="portfolio" objKey="title" />
  <EditableText name={portfolio.uid} type="portfolio" objKey="flex" />
  <EditableText name={portfolio.uid} type="portfolio" objKey="slug" />
  <EditableMd name={portfolio.uid} type="portfolio" />

  <p style="text-align:center;margin-top:1.5em">
    <button onclick={`deleteItem(event, ${JSON.stringify(portfolio.uid)})`}>
      delete item
    </button>
  </p>
</Layout>
<script>
  globalThis.deleteItem = (event, uid) => {
    event.target.textContent = "loading...";
    event.target.setAttribute("disabled", "");
    globalThis
      .plz(`/portfolio/delete`, { uid })
      .then(() => {
        globalThis.location.href = `/${globalThis.actualPath
          .split("/")
          .slice(0, -2)}`;
      })
      .catch(() => {});
  };
</script>
<style>
  article :global(h1, h2, h3, h4, h5, h6) {
    position: relative;
  }
  article
    :global(h1 > a:first-child, h2 > a:first-child, h3 > a:first-child, h4
      > a:first-child, h5 > a:first-child, h6 > a:first-child) {
    display: none;
  }
  article
    :global(h1:hover > a:first-child, h2:hover > a:first-child, h3:hover
      > a:first-child, h4:hover > a:first-child, h5:hover
      > a:first-child, h6:hover > a:first-child) {
    width: calc(100% + 1em);
    height: 1em;
    top: 0;
    right: 0;
    display: inline-block;
    position: absolute;
  }
</style>
