---
const { actualPath } = Astro.props;

const menuItems = [
  {
    url: "cv",
    label: "cv",
  },
  {
    url: "portfolio",
    label: "portfolio",
  },
  {
    url: "experiments",
    label: "experiments",
  },
  {
    url: "posts",
    label: "posts",
  },
];

const prefix = "";

const isEditMode = `/${actualPath}`.endsWith("/edit");

const url = actualPath.split("/").slice(0, -1).join("/");

if (isEditMode) {
  menuItems.push({
    url,
    label: "back",
  });
}

const baseUrl = import.meta.env.BASE_URL;

const scriptHtml = `globalThis.actualPath=${JSON.stringify(
  actualPath
)};globalThis.isEditMode=${isEditMode};const urlPath=new URL(location.href).pathname;if(!globalThis.isEditMode&&localStorage.getItem("secret")&&urlPath!=="/cv"&&urlPath.slice(0, 12)!=="/experiments"){const textNode=document.createTextNode(" · ");const spanNode=document.createElement("SPAN");spanNode.setAttribute("class","c-t");const linkNode=document.createElement("A");linkNode.setAttribute("href",urlPath.endsWith("/")?"./edit":urlPath+"/edit");linkNode.textContent="edit";const linksEl=document.getElementById("links");spanNode.appendChild(textNode);linksEl.appendChild(spanNode);linksEl.appendChild(linkNode)}if(globalThis.isEditMode&&!localStorage.getItem("secret")){globalThis.location.href="."};globalThis.plz=(path,data)=>(fetch('/api'+path,{method:"POST",headers:{"content-type":"application/json","x-admin-secret":localStorage.getItem("secret")},body:JSON.stringify(data)}).then((response)=>{if(!response.ok){throw new Error(response.status)}return response}))`;
---

<h1 style="text-align:center">
  {prefix ? prefix + " " : ""}
  {actualPath === "" ? (
    <span class="active">tom</span>
  ) : (
    <a href={`${baseUrl}`}>tom</a>
  )}
</h1>
<p style="text-align:center;margin-bottom:24px" id="links">
  {menuItems.map(({ url, label }, i) => {
    return (
      <>
        <span class="c-t">{i === 0 ? "" : " · "}</span>
        {actualPath === url ? (
          <span class="active">{label}</span>
        ) : (
          <a href={`${baseUrl}${url}`}>{label}</a>
        )}
      </>
    )
  })}
</p>
<script set:html={scriptHtml}>

</script>
<style>
  .active {
    color: #000;
    background-color: #f4be00;
    box-shadow: -4px 0 0 #f4be00, 4px 0 0 #f4be00;
  }
  :global(.c-t) {
    color: transparent;
  }
</style>
