---
import Layout from "src/components/layout.astro";
import Header from "src/components/header.astro";
export const getStaticPaths = async () => {
  let posts = [];
  try {
    posts = await Astro.glob("../../../../data/posts/*.md");
  } catch {}
  return posts.map((post) => {
    const uid = post.file.split("/").at(-1).slice(0, -3);
    return {
      params: { slug: post.frontmatter.slug },
      props: {
        post: {
          uid,
          ...post.frontmatter,
          html: post.compiledContent(),
          getHeadings: post.getHeadings,
        },
      },
    };
  });
};

const { slug } = Astro.params;
const { post } = Astro.props;

const headings = await post.getHeadings();
const firstHeaderText = headings.find((h) => h.depth === 1)?.text;

const shouldShowTitle = firstHeaderText !== post.title;
---

<Layout pageTitle={`${post.title} · tom`}>
  <Header actualPath={`posts/${slug}`} />

  {
    post.imageUrl ? (
      <img
        src={post.imageUrl}
        style="width:100%;aspect-ratio:3/2;background:#222"
      />
    ) : null
  }
  {shouldShowTitle ? <h1>{post.title}</h1> : null}
  <article class="auto" set:html={post.html} />
</Layout>
